<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="description"
      content="Lead Magnet Design, Brand Identity Design, and Website Design"
    />
    <meta name="author" content="DesVersa.com" />
    <title>DesVersa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body id="body">
    <section class="page-404 text-center d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>404</h1>
            <h2>Page Not Found</h2>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <a href="/" class="btn btn-main mt-20">Go Home</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
