<!DOCTYPE html>

<html class="no-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Lead Magnet Design, Brand Identity Design, and Website Design" />
    <meta name="author" content="DesVersa.com" />
    <title>DesVersa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png" />

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body id="body">
    <!--
Start Preloader
==================================== -->
    <div id="preloader">
        <div class="preloader">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
    <!--
End Preloader
==================================== -->

    <!--
Fixed Navigation
==================================== -->
    <section class="header navigation fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/">
                            <img src="static/images/logo.png" alt="logo" class="img-fluid" />
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navigation" aria-controls="navigation" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="fa-solid fa-bars fa-xs"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Services
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/ebook-service">Ebook Design</a>
                                        <a class="dropdown-item" href="/brand-service">Brand Identity Design</a>
                                        <a class="dropdown-item" href="/website-service">Website Design</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/portfolio">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End section -->

    <section class="single-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Terms of Services</h2>
                    <nav aria-label="breadcrumb mx-auto" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Terms of Services
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!--Start About Section
    ==================================== -->
    <section class="about-2 section bg-gray" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <h6>
                        THIS TERMS OF USE AGREEMENT (the “Agreement”) constitutes a legally binding agreement by and
                        between DesVersa (Registered as Ebookium), a Private Company Limited By Shares with Company No.
                        14312075.
                    </h6>
                </div>
                <div class="col-12 col-md-7">
                    <p>
                        1. Rights to intellectual property
                        <br><br>
                        Unless otherwise stated, the Website is owned and controlled by DesVersa, as is all source code,
                        databases, functionality, software, website designs, audio, video, text, photographs, and
                        graphics of any kind and regardless of format (herein, collectively or individually, the
                        "Content"). The Domain also belongs to DesVersa, as do all trademarks, service marks, and logos
                        contained therein (the "Marks"). You may only use the Content and Marks for informational
                        purposes and for your own personal use. Except as expressly permitted herein, no portion of the
                        Website and no Content may be duplicated, combined, republished, uploaded, posted, displayed,
                        encoded, translated, distributed, sold, licenced, or otherwise exploited for any commercial
                        purpose at all without the express prior written consent of DesVersa. Every right in the
                        Website, Content, and Marks is reserved by DesVersa.
                        <br><br>


                        2. Material Ownership
                        <br><br>

                        All design and original source files produced on the client's behalf (collectively, "Projects")
                        belong to the client, regardless of DesVersa's ownership of Submissions, and the client shall be
                        the exclusive owner of all copyright for all Projects. DesVersa irrevocably and irreversibly
                        assigns its whole ownership of the Project to Client, without restriction, in the event that any
                        legal process would result in DesVersa becoming the owner of the Project, in whole or in part,
                        rather than Client.
                        <br><br>

                        3. Third-Party Fonts
                        <br><br>


                        DesVersa will notify Client that one or more Third-Party Fonts have been incorporated into the
                        Project and that Client will need to purchase one or more licenses the rights-holder if the
                        Project incorporates fonts that are not Royalty-Free and require a commercial license in order
                        for Client to legally reproduce, distribute, or publicly display the Project ("Third-Party
                        Font(s)"). Client assumes full responsibility for any consequences resulting from Client's
                        failure to purchase one or more licenses for any Third-Party Fonts used in a Project.
                        <br><br>


                        4. Representations of Users
                        <br><br>


                        Client represents and warrants that, by using the Website, Client has the legal capacity and
                        agrees to comply with these Terms of Use; Client is not a minor in the jurisdiction of their
                        domicile; Client will not access the Website through automated or non-human means; Client will
                        not use the Website for any illegal or unauthorized purpose; Client's use of the Website will
                        not violate any applicable law or regulation.
                        <br><br>

                        5. Fraudulent Activities
                        <br><br>


                        Client shall not access or use the Website for any purpose other than the one for which it is
                        made available to the Client. The Website may not be used for any commercial purposes other than
                        those related to the work performed by DesVersa on behalf of the Client. Client also agrees to
                        refrain from the following: Use the Website in an unauthorized manner; Retrieve data or content
                        in order to create or compile a database or directory; circumvent, disable, or otherwise
                        interfere with the Website's security features; Unauthorized framing or linking to the Website;
                        Defraud, trick, or mislead DesVersa or other users; Interfere with, disrupt, or impose an
                        unreasonable burden on the Website or DesVersa's networks.
                        <br><br>


                        6. Client Feedback
                        <br><br>


                        Client acknowledges and agrees that any questions, comments, suggestions, or other feedback or
                        submission (each a "Submission") shall be the sole property of DesVersa, and DesVersa is under
                        no obligation to keep a Submission confidential or to take steps to ensure a Submission's
                        confidentiality. Except to the extent that rights are granted to Client under Paragraph 2
                        ("Ownership of Materials"), DesVersa shall be the sole and exclusive owner of all rights related
                        to the Submission, and shall at its sole and unrestricted discretion use and disseminate a
                        Submission for any lawful purpose without permission, acknowledgment, or compensation of or to
                        the Client, and Client hereby waives all claims and recourse against DesVersa for its use of the
                        Submission.
                        <br><br>

                        7. Management and Supervision
                        <br><br>

                        DesVersa reserves the right to monitor the Website for violations of these Terms of Service and
                        to take appropriate legal action in the event of a violation of the Terms of Service or any
                        applicable law, statute, or regulation. DesVersa also reserves the right to limit or deny access
                        to the Website. DesVersa reserves the right to make such a decision without notice or liability
                        to Client. DesVersa will make all decisions regarding the management of the Website at its sole
                        discretion in order to protect its rights and property.
                        <br><br>

                        8. Privacy Policy
                        <br><br>

                        Client agrees to be bound and abide by the Privacy Policy and the terms more specifically set
                        forth therein and adopted and incorporated herein by using the Website. The Website's server is
                        located in the United Kingdom. Access to the Website from the United States, the European Union,
                        Asia, or any other region of the world may result in the application of laws, statutes, or
                        regulations that differ from those that govern personal data collection, use, or disclosure in
                        the United Kingdom. DesVersa does not knowingly accept or solicit information from anyone under
                        the age of 18.
                        <br><br>


                        9. Refunds and Returns
                        <br><br>

                        DesVersa reserves the right to refuse refunds at its sole discretion, without prior notice or
                        liability to the Client. Refund requests are evaluated on an individual basis. If the client
                        requests a refund, he or she may not continue to use the materials. All materials produced by
                        DesVersa are the property of the company and may not be used by the client in any way after
                        getting a refund. DesVersa reserves the right to take appropriate legal action against Client if
                        this paragraph is violated.
                        <br><br>

                        10. Modification
                        <br><br>

                        DesVersa reserves the right, at its sole discretion, to change, alter, modify, amend, or remove
                        anything or any content on the Website. DesVersa reserves the right, without notice and without
                        liability to Client, to modify or discontinue all or part of the Website.
                        <br><br>

                        11. Interruptions in Connection
                        <br><br>

                        DesVersa does not guarantee or warrant that the Website will always be available and accessible.
                        Problems with hardware, software, or other items may cause interruptions, delays, or errors that
                        are beyond DesVersa's control. Client agrees that DesVersa will not be liable to Client for any
                        loss, damage, or inconvenience caused by Client's inability to access or use the Website during
                        any connection or service interruption.
                        <br><br>

                        12. Governing Law
                        <br><br>

                        These Terms of Service are then governed and construed in accordance with UK law, without regard
                        to conflict of law principles.
                        <br><br>

                        13. Disclaimer
                        <br><br>

                        The Website is provided as-is and as-available. Client agrees that use of the Website and
                        Services is solely at Client's risk. DesVersa disclaims all express and implied warranties in
                        connection with the Website and Client's use of it, including the implied warranties of
                        merchantability, fitness for a particular purpose, and non-infringement. DesVersa makes no
                        warranties or representations about the Website's accuracy or completeness, or the content of
                        any websites linked to the Website, and DesVersa assumes no liability for any errors, mistakes,
                        or inaccuracies in content and materials, personal injury, or property damage of any kind and
                        any unauthorized access to or use of DesVersa's secure servers and/or any personal information
                        and/or financial information stored therein, any interruption of transmission to or from the
                        site, any bugs, Trojan horses, or the like transmitted to or through the Website by any third
                        party, and/or any errors or omissions in content and materials, or for any loss or damage of any
                        kind incurred as a result of the use of any content posted, transmitted, or otherwise made
                        available through the Website. DesVersa makes no warranties, endorsements, guarantees, or
                        accepts responsibility for any product or service advertised or offered by a third party via the
                        Website, a hyperlinked website, or any website or mobile application featured in any
                        advertising.
                        <br><br>

                        14. Liability and Indemnification Limitations
                        <br><br>

                        DesVersa and its directors, employees, members, independent contractors, or agents shall have no
                        liability to Client or any third party for any direct, indirect, consequential, incidental,
                        special, or punitive damages, including lost profit, lost revenue, lost data, attorneys' fees,
                        court costs, fines, forfeitures, or other damages or losses resulting from Client's use of the
                        Website. Client agrees to defend, indemnify, and hold DesVersa and its subsidiaries, affiliates,
                        and all respective officers, members, agents, partners, employees, and independent contractors
                        harmless from and against any loss, damage, liability, claim, or demand made by any third party
                        due to or arising out of:
                        <br><br>

                        (1) Use of the Website;
                        <br>
                        (2) Breach of these Terms of Use;
                        <br>
                        (3) Any breach of Client’s representations;
                        <br>
                        (4) Client’s violation of the rights of any third party, including but not limited to
                        intellectual property rights.
                        <br> <br>


                        DesVersa reserves the right, at Client’s expense, to assume control and defense of any matter
                        for which Client shall be required to indemnify DesVersa hereunder. Client agrees to cooperate
                        with the defense of such claims. Our site, design resources, end products, services and
                        materials, and/or any other content or product, are provided “as is”, “as available”, “with all
                        faults” and without any warranty of any kind, express or implied. You agree that your use of the
                        DesVersa site and services shall be at your sole risk. DesVersa, its officers, directors,
                        employees, and agents disclaim all express and implied warranties in connection with the site
                        and your use of it.

                        <br> <br>
                        DesVersa makes no warranties or representations about the accuracy of the
                        content or designs. DesVersa, its officers, directors, employees, or agents will not be held
                        liable for any errors, mistakes, or inaccuracies in content, personal injury or property damage
                        of any kind resulting from your access to and use of our services and site. DesVersa will not be
                        liable to you for any direct, indirect, incidental, special, punitive, or consequential damages
                        resulting from unauthorized access to or use of our secure servers and/or any and all personal
                        information and/or other information stored on them.

                        <br> <br>
                        We shall not be held accountable for any interruption of transmission to or from our site,
                        viruses, or Trojan horses that may be
                        transmitted to or through our site by any third party, nor for any errors or omissions in any
                        content nor for any loss or damage of any kind incurred as a result of the use of any content
                        posted, or otherwise made available via the DesVersa platform. The foregoing limitation of
                        liability shall apply to the fullest extent permitted by law in the applicable jurisdiction. You
                        specifically acknowledge that DesVersa is not liable for user content or the defamatory,
                        offensive, or illegal conduct of any third party and that the risk of harm or damage from the
                        foregoing rests entirely with the user. DesVersa will not be in any way responsible for
                        monitoring any transaction between you and any third-party providers of products or services.
                        You should use your best judgment and exercise caution where appropriate. DesVersa will not bear
                        any security risks regarding breach or damage to any user content. DesVersa does not endorse,
                        guarantee, or assume responsibility for any product or service advertised or offered by a third
                        party using our brands or any hyperlinked website or featured in any banner or other
                        advertising, and we do not make any representations that our website is appropriate or available
                        for use in all locations.

                        <br> <br>

                        Those who access or use the DesVersa site from jurisdictions
                        prohibiting such use do so at their own volition and are responsible for compliance with the
                        local law. DesVersa and its third-party content provider are not liable for any punitive,
                        exemplary, consequential, incidental, indirect, or special damages (including, without
                        limitation, lost profits, business interruption, loss of programs or other data on your computer
                        or otherwise) arising from or in connection with the use of DesVersa (including the use of
                        branding products and logos). Your sole and exclusive remedy is to discontinue use of the site,
                        services, and designs. DesVersa is not liable for any trademark-related litigation. DesVersa
                        will not be held liable for any trademark disputes that may arise between a client and a third
                        party. You understand that some fonts and symbols used during the Design Process may have been
                        licensed from a third-party provider.

                        <br> <br>

                        In no event will DesVersa be liable for any Design
                        Resources, including, but not limited to, any loss or damage of any kind incurred as a result of
                        the use of any Materials or any part thereof. You agree to evaluate and bear all risks
                        associated with the use of any Design Resources, including the existence of any third-party
                        rights that may exist in such resources. DesVersa shall not be liable for the client's inability
                        to trademark the materials. Nothing in this document should be interpreted as granting any
                        license or right to use any trademarks, service marks, logos, slogans, or taglines. DesVersa
                        shall not be liable for any confusion caused by the logo towards another trademark that is
                        already in use around the world.

                        <br> <br>

                        DesVersa strongly advises you to conduct due diligence to
                        ensure that the use of the logo is free of any adverse claims and is not infringing on any
                        third-party rights. It is the client’s liability to ensure that he has the right to use the logo
                        created by DesVersa. DesVersa cannot guarantee that a client's logo will not be identical or
                        similar to other logos that have been or will be created. DesVersa also cannot guarantee that
                        the client's logo will not infringe on a registered trademark or other third-party rights.
                        <br> <br>

                        15. User Information
                        <br> <br>

                        Client is solely responsible for all data transmitted to or relating to any activity undertaken
                        by Client while using the Website. DesVersa shall have no liability to Client for any loss or
                        corruption of such data, and Client hereby waives any claim against DesVersa from such loss or
                        corruption.
                        <br> <br>

                        16. Electronic transactions, communications, and signatures
                        <br> <br>

                        Client agrees that all agreements, notices, disclosures, and other communications sent via email
                        or through the Website satisfy any legal requirement that such communication be in writing.
                        Client consents to the use of electronic signatures, contracts, orders, and other records, as
                        well as the electronic delivery of notices, policies, and records of transactions initiated or
                        completed by DesVersa or through the Website. Client expressly waives any rights or obligations
                        under any statutes, regulations, rules, ordinances, or other laws in any jurisdiction that
                        require an original signature, delivery, or retention of non-electronic records, or payments or
                        credit granting by any means other than electronic.
                        <br> <br>

                        17. Displaying Design Work
                        <br> <br>

                        Unless otherwise agreed upon, DesVersa reserves the right to showcase design work on digital
                        channels such as social media, websites, and so on. The Client reserves the right to request
                        that DesVersa not showcase the design materials created by DesVersa, which would revoke
                        DesVersa's right to publicly share or discuss Client's work.
                        <br> <br>

                        18. Miscellaneous
                        <br> <br>

                        These Terms of Use and any policies posted on the Website or regarding the Website constitute
                        the entire agreement and understanding between the Client and DesVersa. Failure of DesVersa to
                        enforce any right or provision of these Terms of Use shall not operate as a waiver of such right
                        or provision. If any provision or part of these Terms of Use is determined to be unlawful, void
                        or unenforceable, that provision shall be severed from these Terms of Use but shall not
                        otherwise affect the validity or unenforceability of the remaining provisions herein. Nothing in
                        these Terms of Use, the Privacy Policy or on the Website shall be construed to constitute the
                        forming of a joint venture, partnership, or agency relationship between Client and DesVersa.
                        <br> <br>

                        19. Contact Information
                        <br> <br>

                        For any questions or complaints regarding the Website, please contact DesVersa at:
                        <a href="mailto: support@desversa.com"> support@desversa.com</a>


                    </p>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
    <!-- End section -->


    <!-- Start Footer Us
=========================================== -->
    <footer id="footer" class="bg-one">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                        <h3>About</h3>
                        <p>
                            We deviate from the norm by offering our clients cost-effective
                            yet high-quality services; we quote unique offers that are
                            tailored to your particular needs.
                        </p>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                        <h3>Our Services</h3>
                        <ul>
                            <li><a href="/brand-service">Brand Identity Design</a></li>
                            <li><a href="/website-service">Website Design</a></li>
                            <li><a href="/ebook-service">Ebook Design </a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/portfolio">Portfolio</a></li>
                            <li><a href="/terms-of-service">Terms of Service</a></li>
                        </ul>
                    </div>
                    <!-- End of .col-sm-3 -->

                    <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                        <h3>Subscribe Now</h3>
                        <form class="subscribe-form">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email" />
                            </div>
                            <button type="submit" class="btn btn-main-sm">Subscribe</button>
                        </form>
                    </div>
                    <!-- End of .col-sm-3 -->
                </div>
            </div>
            <!-- end container -->
        </div>
        <div class="footer-bottom">
            <h5>Copyright 2023. All rights reserved.</h5>
        </div>
    </footer>
    <!-- end footer -->

    <!-- Main jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <!-- Smooth Scroll js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js"></script>
    <!-- Custom js -->
    <script src="/static/js/script.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/63f7671831ebfa0fe7eee8c9/1gpv6leu5';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>